<%= content_for(:title,  'K-Line | Block') %>
<section class="content-header">
  <h1>
    <%= @block.full_name %>行情  <small>信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-line-chart"></i> 每刻行情 </li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <div class="row">
        <div class="col-sm-2">
          <select onchange="javascript:location.href = this.value;" class="form-control" style="display: inline;">
            <option value="?">请选择区块链</option>
            <% Chain.all.each do |item|%>
              <option value="?block=<%= item.id %>&start=<%= params[:start] || Date.current.to_s %>&end=<%= params[:end] || Date.current.to_s %>" <%= 'selected' if params[:block].to_i == item.id || (!params[:block].present? && item.id == Chain.named.first.id)%>><%= item.full_name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-sm-9">
          <form action="<%= blocks_ticker_path %>" method="get">
            <div class="col-sm-3">
              <div class="form-group has-feedback">
                <div class="input-group">
                  <input id='start' type="text" name="start" value="<%= params[:start] || Date.current.to_s %>" class="form-control" placeholder="起始日期">
                  <input type="hidden" name="block" value="<%= params[:block] || Chain.named.first.id %>">
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group has-feedback">
                <div class="input-group">
                  <input id='end' type="text" name="end" value="<%= params[:end] || Date.current.to_s %>" class="form-control" placeholder="截止日期">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-flat" type="submit"><i class="fa fa-search-plus"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="price-chart" class="chart-container"></div>
          <div id="macd-chart" class="chart-container"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= content_for :script_footer do %>
  <%= javascript_include_tag 'highcharts','bignumber','price-charts', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    $( document ).ready(function() {
      drawPrice(<%= raw @price_array %>, "<%= @block.currency.downcase %>");
      drawMacd(<%= raw @macd_diff %>,<%= raw @macd_dea %>,<%= raw @macd_bar %>,<%= raw @date_data %>);
    });
  </script>
<% end %>