<section class="sidebar">
  <div class="user-panel">
    <div class="pull-left image">
      <img src="<%= image_path('favicon.png')%>" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p><%= current_user.email.split('@')[0] %></p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
  <ul class="sidebar-menu">
    <li class="header">交易大厅</li>
    <li class="treeview <%= 'active' if controller_name == 'dashboard' && action_name == 'tradingview'%>">
      <a href="<%= tradingview_path(Chain.first.markets) if Chain.first %>" target="_self">
        <i class="fa fa-bar-chart"></i> <span> 价格趋势</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'dashboard' && action_name == 'index'%>">
      <a href="<%= blocks_ticker_path %>" target="_self">
        <i class="fa fa-dashboard"></i> <span> 日常行情</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'dashboard' && action_name == 'pending' %>">
      <a href="<%= blocks_pending_path %>" target="_self">
        <i class="fa fa-server"></i> <span> 活动挂单</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'chains' %>">
      <a href="<%= blocks_chains_path %>" target="_self">
        <i class="fa fa-btc"></i> <span> 区块货币</span>
      </a>
    </li>
    <% if controller_name == 'tickers' %>
      <li class="treeview <%= 'active' if controller_name =='tickers' %>">
        <a href="<%= blocks_chain_tickers_path(params[:chain_id]) %>" target="_self">
          <i class="fa fa-line-chart"></i> <span> 历史行情</span>
        </a>
      </li>
    <% end %>
    <li class="treeview <%= 'active' if controller_name == 'points' %>">
      <a href="<%= blocks_points_path %>" target="_self">
        <i class="fa fa-adjust"></i> <span> 事务焦点</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'orders' %>">
      <a href="<%= blocks_orders_path %>" target="_self">
        <i class="fa fa-random"></i> <span> 交易订单</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'balances' %>">
      <a href="<%= blocks_balances_path %>" target="_self">
        <i class="fa fa-shopping-cart"></i> <span> 货币余额</span>
      </a>
    </li>
  </ul>
</section>