<%= content_for(:title,  '货币余额列表 | BLOCK') %>
<section class="content-header">
  <h1>
    货币余额 <small>信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-btc"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-btc"></i> 货币余额</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= new_blocks_balance_path %>" class="btn bg-blue btn-flat"><i class="ion-plus"></i> 添加余额</a>
      <a href="<%= sync_blocks_balances_path %>" class="btn bg-black btn-flat"><i class="fa fa-refresh"></i> 同步余额</a>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">货币</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">总数</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">可用</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">挂单</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">价值</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center;width: 240px">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @balances.each do |item| %>
              <tr style="text-align: center">
                <td><%= item.block %></td>
                <td><%= item.balance %></td>
                <td><%= item.available %></td>
                <td><%= item.pending %></td>
                <td><%= (item.balance.to_f * item.chain.to_cny).round(2) if item.chain %></td>
                <td>
                  <a href="<%= edit_blocks_balance_path(item) %>" class="btn bg-orange btn-flat">
                    <i class="glyphicon glyphicon-edit"></i>
                    编辑
                  </a>
                  <a href="<%= blocks_balance_path(item) %>" class="btn bg-red btn-flat" data-method="delete" data-confirm="确定删除余额信息吗？">
                    <i class="glyphicon glyphicon-trash"></i>
                    删除
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @balances.count %>」</h5></div>
        </div>
        <div class="col-sm-12">
          <div class="dataTables_paginate paging_simple_numbers">
          <%= will_paginate @balances, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>